<div id='nav' class='ui menu inverted grid'>
    <div class='ui container computer tablet only row'>
        <a class='item header {% if request.path=="/" %}active{% endif %}' href='/'><i class='home icon'></i>MusInformatics</a>

        <a class='item {% if request.path=="/instrument" %}active{% endif %}' href='/instrument'><i class='bell icon'></i>Instrument Classification</a>
        <a class='item {% if request.path=="/genre" %}active{% endif %}' href='/genre'><i class='music icon'></i>Genre Classification</a>
        <a class='item {% if request.path=="/swingify" %}active{% endif %}' href='/swingify'><i class='music icon'></i>Swingify</a>

        <div class='right item'>
        </div>
    </div>


    <div class='ui container mobile only narrow row'>
        <a class='item header {% if request.path=="/" %}active{% endif %}' href='/'><i class='home icon'></i>MusInformatics</a>
        <div class='ui dropdown item hamburger'>
            <i class='sidebar large icon'></i>

            <div class='menu'>
                <a class='item {% if request.path=="/instrument" %}active{% endif %}' href='/instrument'><i class='bell icon'></i>Instrument Classification</a>
                <a class='item {% if request.path=="/genre" %}active{% endif %}' href='/genre'><i class='music icon'></i>Genre Classification</a>
                <a class='item {% if request.path=="/swingify" %}active{% endif %}' href='/swingify'><i class='music icon'></i>Swingify</a>
            </div>
        </div>
    </div>

</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) { 
    $('.hamburger').dropdown();
});
</script>
