[submodule "musinformatics/mir_tools"]
	path = musinformatics/mir_tools
	url = https://github.com/Curly-Mo/mir-tools.git
[submodule "musinformatics/swingify"]
	path = musinformatics/swingify
	url = https://github.com/Curly-Mo/swingify.git
