<!DOCTYPE html>
<html lang="en" class="no-js">
{% set semantic_version = '2.0.8' %}
{% set bootstrap_version = '3.3.5' %}
{% set jquery_version = '2.1.4' %}
{% set bootswatch_version = '3.3.5' %}
{% set bootswatch_theme = 'slate' %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% block title%}MusInformatics{% endblock %}</title>
    <!--<link href="//netdna.bootstrapcdn.com/bootswatch/{{ bootswatch_version }}/{{ bootswatch_theme }}/bootstrap.min.css" rel="stylesheet" >-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/{{bootstrap_version }}/css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="/static/semantic/semantic.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    {% block style_block %}{# page-specific CSS #}{% endblock %}
    {% block head_script %}{# defer-incapable JS block #}{% endblock %}
</head>
<body>
    {% include 'includes/nav.html' %} {# pull in navbar #}

    <div class="container" id="maincontent">
        {% include 'includes/flash_message.html' %} {# page-level feedback notices #}
        <div id="body_content">
            {% block content %}{# main content area #}{% endblock %}
        </div>
    </div>

    <footer>
        <div id="footer" class="container">
            {% block footer %}{% endblock %}
            <div class='ui container'>
               <a href="http://cfahy.com/" style="font-size:1.5rem; float:right; padding: 10px 0;">Check out my other projects!</a>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-{{ jquery_version }}.min.js"></script>
   <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/{{ bootstrap_version }}/js/bootstrap.min.js"></script>-->
    <script src="/static/semantic/semantic.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block tail_script %}{# defer-capable JS block #}{% endblock %}

    {% block javascript %}
    <script>
        {% include 'includes/google_analytics.js' %}
    </script>
    {% endblock %}
</body>
</html>
